@*@using Microsoft.AspNetCore.Identity*@
@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@
 @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<ul class="navbar-nav">
       @{
        ViewBag.UserName = @HttpContextAccessor.HttpContext.Session.GetString("UserName");
    }
@if (ViewBag.UserName != null)
{
    <li class="nav-item">
        <a  class="nav-link text-dark"  title="manage">Hello @ViewBag.UserName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline"> @*asp-area="identity" asp-page="/account/logout" asp-route-returnurl="@url.action("index", "home", new { area = "" })">*@
            <button  type="submit" class="nav-link btn btn-link text-dark" asp-controller="Login" asp-action="Logout">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Login">Login</a>
    </li>
}
</ul>
